.single-event-container{

    width:80%;
    margin: 50px auto 20px;
}
@media screen and (max-width: 50em) {
    .single-event-container{
        width:95%;
        margin: 10px auto 10px;
    }
}


.host-img{
    width:50px;
    height:50px;
    border-radius: 100px;
}

.host-info{
    display: flex;
    padding: 10px 0px;
}
.event-hosted-by{
    display: flex;
    flex-direction: column;
    margin: auto 7px;
    font-size: 15px;
}
.host-name{
    font-weight: 600;
    line-height: 0.8;
}

.event-img-single{
    width: 100%;
}

@media screen and (max-width: 50em) {
    .event-img-single{
        width: 300px;
    }
}


.event-description-container{
    margin: 13px 0;

}

.event-editing{
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.event-title{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0;
}

.event-description > h5{
    margin: 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

}

.event-description{
    margin-bottom: 30px;
}

.event-description > p{
    font-weight: 500;
}
.event-description-edit{
    height: 15%!important;
}
.event-tags > .nav > .nav-item{

    padding: 10px;
    margin: 5px;
    background-color: #DBDBDB;
    border-radius: 20px;
}


.details-inner-div{
    width:88%;
    margin: 0 auto;
}
@media screen and (max-width: 50em) {
    .details-inner-div{
        visibility: hidden;
    }
}

.event-participants{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 20px auto 50px auto;
}
@media screen and (max-width: 50em) {
    .event-participants{
        display: flex;
        flex-wrap: wrap;
        width:95%;
        margin: 20px auto 50px auto;
    }
}

.event-partic-title{
    margin: 20px 125px 20px 10%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
@media screen and (max-width: 50em) {
    .event-partic-title{
        margin: 20px 125px 20px 3%;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
    }
}


.event-partic-view-all {
    display: flex;
    flex-wrap: wrap;
    width:17%;
    margin: 20px auto 50px 10%;
}
@media screen and (max-width: 50em) {
    .event-partic-view-all {
        display: flex;
        flex-wrap: wrap;
        width:17%;
        margin: 20px auto 50px 2%;
    }
}

.event-attend{
    height: 125px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 50em) {
    .event-attend{
        height: 140px;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: space-between;
    }
}

.event-summary{
    margin: 0 150px;
}
@media screen and (max-width: 50em) {
    .event-summary{
        margin: 0 10px;
    }
}

.btn-attend{
    margin: 15px 150px 0;
    padding: 12px 50px;
}
@media screen and (max-width: 50em) {
    .btn-attend{
        margin: 15px 50px 0;
        padding: 12px 50px;
    }
}

.event-tags > nav{
    padding-left: 12px;
}

.react-date-picker__wrapper,.react-time-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;

    border: 1px solid #ced4da!important;
    border-radius: .25rem;
    padding: 10px;
    margin-bottom: .5rem!important;

}
label{
    display: block;
}

.fa-check-i{
    margin: 1px 1px 0 0;
}
.delete-btn > path{
    fill: rgba(194, 21, 21, 0.7);
}
