svg.remove-tag-btn {
    margin-left: 8px!important;
    padding-top: 4px!important;
    cursor: pointer;
}

.tag-name{
    width: 96%;
}

.event-tags > ul{
    background-color: transparent!important;
}

