.user-container{
    width: 77%;
    margin: 100px auto;
}
@media screen and (max-width: 50em) {
    .user-container{
        width: 77%;
        margin: 100px auto;
    }
}

.user-description {
    width: 80%;
}
@media screen and (max-width: 50em) {
    .user-description {
        width: 95%;
    }
}

.user-friends > div > a:nth-child(5) > div{

    margin-right: 0;
}

.user-friends> div> a> div.card-user{
    min-height: 180px!important;
}
.settings-arrow{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.settings-link{
    height: 20px;
    display: flex!important;
    color: #3a7347!important;
}
.profile-image > img{
    border-radius: 102px;
    width: 100%;
}
