.top-padding {
    padding-top: 10px;
}

.side-padding {
    padding-left: 10%;
    padding-right: 10%
}

.position-right {
    float: right;
}

.name-padding {
    padding-top: 25px
}

.button-padding {
    padding-top: 40px;
}