.bg{
    height: 95vh;
    background: url("https://cdn.dribbble.com/users/1224589/screenshots/14070097/media/ce048696a3135d7da840e6a9c6ff572b.jpg?compress=1&resize=1600x1200");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: white;


}
