.body {
    background-color: #FAF5F4;
    padding: 8%
}

.profile-container {
    background-color: #FFFFFF;
    width: 80%;
    padding: 5%;

}

.right-column-container {
    background-color: #FFFFFF;
    width: auto;
    padding: 5%;
}

.display-right {
    float: right;
}
