.body {
    background-color: #f7f7f7;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;


}

.profile-container {
    background-color: #FFFFFF;
    width: 80%;
    padding: 5%;

}

.screen-size-padding {
    padding-left: 10%
}

.left-column-padding {
    padding-left: 10%
}

.container-padding {
    padding-top: 5%
}

.button-padding {
    padding-top: 3%;
    margin: 10px;
}

.btn-danger{
    color:white!important;
}
.settings-image {
    width: 30%;
    height: 30%;
    border-radius: 100px;
    margin-bottom: 10px;
}

img.resize {
    width:70%; /* you can use % */
    height: auto;
}

.align-center {
    text-align: center;
}

a:active {
    color: #3d8f32;
}

.header-location {
    padding-left: 10%;
}

.right-column-container {
    background-color: #FFFFFF;
    width: auto;
    padding: 5%;
}

.bigger-font {
    font-size: large
}

.outer-container-padding {
    padding-top: 5%
}

.display-right {
    float: right;
}

.row{
    margin: 10px 0;
}
