
.sticky {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: orange;
}

li {
    float: left;
}

li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: mediumseagreen;
}


.profile-nav-float-right {
    margin-left: 1000px;
}
.events-nav {
    margin-left: 1%;
}

.news-nav {
    margin-left: 1%;
}

.logo-nav {
    margin-left: 2%;
}

.loginRegister-nav {
    margin-right: 2%;
}


.profile-icon{
    margin: 4px 0;
}

.link-is-active {
    background-color: darkseagreen;
}

@media screen and (max-width: 44em) {
    .events-nav {
        display: none;
    }
}

@media screen and (max-width: 100em) {
    .profile-nav-float-right {
        margin-left: 1000px;
    }
}

@media screen and (max-width: 80em) {
    .profile-nav-float-right {
        margin-left: 800px;
    }
}

@media screen and (max-width: 50em) {
    .profile-nav-float-right {
        margin-left: 500px;
    }
}
