ul{
    background: transparent;
    width: 100%;
}

/* Change the link color to #111 (black) on hover */
.nav-item:hover {
    background-color: #3a7347;
    color:white!important;
}

.nav-item{
    font-size: 1rem!important;
}

.profile{
    margin: auto 4px auto auto;
}

.profile:hover{
    background-color: transparent!important;

}

.sign-in{
    margin-left: auto ;
}

@media screen and (max-width: 1000px){
    .profile{
        margin: 0!important;
    }

    .sign-in{
        margin-left: 0 ;
    }

}
