
.card-user > .card-body > div> a{
    margin: 20px auto;

}
.card-user{
    min-height: 230px!important;
    margin: 0px 30px 10px 0;
    color:black;
}

.card-name-container> .card-title{
    text-align: center;

}
.user-img{
    width: 100%;
    border-radius: 50px;
}
